<h1> Good Treble Users Are Going to the Following Events</h1>
{{#each events as |event|}}
  <div class='row mb-4 project'>
    <div class='col-md-5'>
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        <h1>{{event.id}}:<a href ="/events/{{event.id}}">{{event.name}}</a>:{{event.description}}{{event.artist_id}} {{event.user_id}}</h1>
      <p>Created by {{event.user.name}}</p>
    </div>
    <div>
    </div>
    <div class='col-md-7'>
      <p>

      </p>
    </div>
  </div>

{{/each}}