<h2>Welcome, {{name}}!</h2>

{{#each events as |event|}}
  <div class='row mb-4 project'>
    <div class='col-md-5'>
      
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        <h1>{{event.id}}:{{event.name}}:{{event.description}}{{event.artist_id}}</h1>
      <p>Created by </p>
    </div>
    <div>
    </div>
    <div class='col-md-7'>
      <p>

      </p>
    </div>
  </div>

{{/each}}